@charset "UTF-8";
body {
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
page {
  padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: normal;
}
button::after {
  border: 0;
}
radio {
  // .wx-radio-input {
  //   border-radius: 50%;
  //   width: 38rpx;
  //   height: 38rpx;
  // }
  .wx-radio-input.wx-radio-input-checked {
    //   border: 1rpx solid $uni-color-primary !important;
    background-color: $uni-color-primary !important;
  }
  // .uni-radio-input {
  //   border-radius: 50%;
  //   width: 38rpx;
  //   height: 38rpx;
  // }
  // .uni-radio-input.uni-radio-input-checked {
  //   border: 1rpx solid $uni-color-primary !important;
  //   background-color: $uni-color-primary !important;
  // }
}
checkbox {
  // .wx-checkbox-input {
  // border-radius: 50%;
  // width: 38rpx;
  // height: 38rpx;
  // }
  .wx-checkbox-input.wx-checkbox-input-checked {
    border: $uni-color-primary !important;
    background-color: $uni-color-primary !important;
    color: $uni-color-primary !important;
  }
  .wx-checkbox-input.wx-checkbox-input-checked::before {
    font-size: 35rpx;
  }
  // .uni-checkbox-input {
  // border-radius: 50%;
  // width: 38rpx;
  // height: 38rpx;
  // }
  .uni-checkbox-input.uni-checkbox-input-checked::before {
    font-size: 35rpx;
  }
  .wx-checkbox-input-checked.wx-checkbox-input-disabled {
    border: $uni-color-primary !important;
    background-color: $uni-color-primary !important;
    color: $uni-color-primary !important;
    opacity: 0.3;
  }
}
uni-section {
  .uni-section {
    margin-top: 12rpx;
    background-color: transparent;
  }
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background-color: #000;
  opacity: 0.5;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.uni-bg-theme {
  background-color: $uni-color-primary;
  color: #fff;
}
.uni-text-primary-small {
  font-size: 24rpx;
  color: $uni-color-primary;
}
.uni-text-primary {
  font-size: 28rpx;
  color: $uni-color-primary;
}

.uni-text-primary-15 {
  font-size: 30rpx;
  color: $uni-color-primary;
}

// 通用主题色提交按钮
.uni-btn-theme {
  padding: 0 24rpx;
  border-radius: 36px;
  height: 72rpx;
  background-color: $uni-color-primary;
  line-height: 72rpx;
  text-align: center;
  font-weight: 400;
  font-size: 30rpx;
  color: white;
}

.uni-btn-cancel {
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  text-align: center;
  line-height: 88rpx;
  padding: 0 24rpx;
  color: #1a1a1a;
  font-size: 32rpx;
  height: 88rpx;
  background-color: white;
}

.uni-btn-theme-large {
  padding: 0 24rpx;
  border-radius: 36px;
  height: 88rpx;
  background-color: $uni-color-primary;
  line-height: 88rpx;
  text-align: center;
  font-weight: 400;
  font-size: 30rpx;
  color: white;
}

.uni-btn-secondary-large {
  padding: 0 24rpx;
  border-radius: 36px;
  height: 88rpx;
  background-color: #e8f3ff;
  line-height: 88rpx;
  text-align: center;
  font-weight: 400;
  font-size: 30rpx;
  color: $uni-color-primary;
}

.uni-btn-secondary-large-disabled {
  padding: 0 24rpx;
  border-radius: 36px;
  height: 88rpx;
  background-color: #e8f3ff;
  line-height: 88rpx;
  text-align: center;
  font-weight: 400;
  font-size: 30rpx;
  color: #cecece;
}
.uni-btn-plain-theme {
  border-color: $uni-color-primary;
  background-color: white;
  color: $uni-color-primary;
}
.arrow-down {
  width: 32rpx;
  height: 32rpx;
}

// 按钮不可用
.uni-text-disable {
  font-size: 14px;
  color: $uni-text-color-disable;
}
.uni-text-common-bold {
  font-weight: 600;
  font-size: 28rpx;
  color: $uni-main-color;
}
.uni-text-white-bold {
  font-weight: 600;
  font-size: 28rpx;
  color: white;
}
.uni-text-common {
  font-size: 28rpx;
  color: $uni-main-color;
}
.uni-text-common-large {
  font-size: 32rpx;
  color: $uni-main-color;
}
.uni-text-hint {
  font-size: 28rpx;
  color: $uni-secondary-color;
}
.uni-text-common-tiny {
  font-size: 20rpx;
  color: $uni-main-color;
}
.uni-text-common-small {
  font-size: 24rpx;
  color: $uni-main-color;
}
.uni-text-common-small-bold {
  font-weight: 600;
  font-size: 24rpx;
  color: $uni-main-color;
}
.uni-text-base {
  font-size: 24rpx;
  color: $uni-base-color;
}
.uni-text-base-bigger {
  font-size: 28rpx;
  color: $uni-base-color;
}

.uni-text-secondary {
  font-size: 24rpx;
  color: $uni-secondary-color;
}

.uni-text-margin-top-12 {
  margin-top: 12rpx;
}
.uni-text-margin-top {
  margin-top: 16rpx;
}

.uni-text-margin-top-24 {
  margin-top: 24rpx;
}
.uni-text-margin-left {
  margin-left: 12rpx;
}
.uni-text-margin-left-large {
  margin-left: 24rpx;
}
.uni-text-margin-left-small {
  margin-left: 8rpx;
}
.uni-divider-vertical {
  width: 2rpx;
  background-color: #e7e7e7;
}
.uni-divider-horizontal {
  height: 2rpx;
  background-color: #e7e7e7;
}
.uni-divider-dashed-horizontal{
  border-top: 2rpx dashed #e7e7e7; /* 设置上边框为2像素宽的黑色虚线 */
}
.uni-divider-big {
  height: 24rpx;
  background-color: #f8f9fa;
}
.common-margin {
  margin-top: 10px;
}

// 灰色底背景body
.common-body-container {
  height: 100vh;
  background-color: #f8f9fa;
}
/* loadmore */
.uni-loadmore {
  padding-bottom: 30rpx;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
}
.uni-calendar__header {
  .dialog-close {
    display: none !important;
  }
}
.cu-bar {
  top: unset !important;
}
.foot {
  /*  #ifdef  H5 */
  bottom: calc(var(--window-bottom));
  /*  #endif  */
  z-index: 2;
}

.safe-area {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.safe-area-24 {
  padding-bottom: calc(24rpx + constant(safe-area-inset-bottom)) !important;
  padding-bottom: calc(24rpx + env(safe-area-inset-bottom)) !important;
}
// .uni-drawer {
//   z-index: 9999999 !important;
// }

.popup-class {
  z-index: 1000;
}
